<!-- index.html.erb -->

<h1> My Dashboard
</h1>

<% @trips.each do |trip| %>
<%= trip.name %>
<% trip.participants.each do |participant| %>
<%= participant.user.name %>
<% end %>
<% end %>


<div>
<%= button_to "Create a Trip", new_trip_path, :method => "get", class: "btn btn-flat" %>
       </div>

