<h1>Try HolyTrip Experience</h1>


<p>Hi <%= @user.name %>,</p>

<p>You've been invited to an amazing trip.</p>

<p><a href="https://holytrip.pro/users/sign_in">Check out the details</a></p>

<p>See ya!</p>
