body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
// button {
//     background-color: #4CAF50;
//     color: white;
//     padding: 14px 20px;
//     margin: 8px 0;
//     border: none;
//     cursor: pointer;
//     width: 100%;
//     opacity: 0.9;
// }

#id02,
#id01 {
      background: rgba(240, 248, 255, 0.5);

}

#new_task {
  background-color: #FFFDFA;
  padding: 50px 120px 50px 120px;
  box-shadow: 1px 2px 8px #888888;
  font-size: 18px;
}

#task_name,
#task_description,
#flatpickr-input,
#email-ppl {
  background-color: transparent !important;
  border: 1px solid #00D1AC;
  margin-bottom: 5px;
  box-shadow:         inset 0 0 0.5px #00D1AC;
}
.form-control:focus {
  border-color: red;
  outline: none;
  box-shadow: none;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 10px 50px;
    // background-color: #FA3149;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  color: white !important;
  padding: 10px 50px;
  border-radius: 4px;
  background-color: rgba(238, 99, 82, 1.0) !important;
  transition: background 0.3s ease;
  margin-left: 5%;
  margin-right: 25%;
  margin-bottom: 16px;
  margin-top: 12px;
  border: none !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Add padding to container elements */
.modal-container {
  padding: 50px 120px 10px 120px;
}


.add-bar {
      margin: 12px auto 4px auto;
    width: 97%;
  display: flex;
  justify-content: space-between;
}
.btn-flat-task {
  color: white !important;
  padding: 8px 32px;
  border-radius: 4px;
  background-color: #00D1AC !important;
  transition: background 0.3s ease;
  // margin-left: 73px;
  margin-bottom: 16px;
  margin-top: 12px;
  border: none !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.btn-flat-task-modal {
  color: white !important;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #00D1AC !important;
  transition: background 0.3s ease;
  margin-left: 25%;
  margin-right: 5%;
  margin-bottom: 16px;
  margin-top: 12px;
  border: none !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-flat-people {
  color: white !important;
  padding: 8px 32px;
  border-radius: 4px;
  background-color: #3093EF !important;
  transition: background 0.3s ease;
  // margin-right: 73px;
  margin-bottom: 16px;
  margin-top: 12px;
  border: none !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #F4F4F4;
    padding-top: 30px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: relative;
    right: 14.4em;
    top: 4.6em !important;
    font-size: 30px !important;
    color: black !important;
    opacity: 0.3;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
    opacity: 0.7;
}

/* Clear floats */
.clearfix {
    // content: "";
    // clear: both;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-control-label {
  font-family: Raleway;
  font-size: 1.2em;
}

#label-ppl {
  font-family: Raleway !important;
  font-size: 1.2em !important;
  font-weight: normal !important;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

