// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form-login";
@import "tasks-modal";
@import "form-friends";
@import "cards";
@import "banner";
@import "footer";
@import "task-manager";
@import "new-trip";
@import "new-cards";
@import "facebook";
