
.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  color: #2d2d2d;
  flex-grow: 0;
}


.fa {
  font-size: 24px;
  color: #2d2d2d;
}
