@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 240px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 12px 32px 24px 32px;
    border-radius: 4px;
}




.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    position:relative;
}

.product-tumb img {
    height: 180px;
    width:240px;
    max-width: 100%;
    max-height: 100%;
}

.remove-trip {
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.remove-trip:hover {
  opacity: 1.0;
}

.product-details {
    padding: 18px 24px;
}



.product-details h4 a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details:hover {
  h4 {
    color: #00d1af;
    }
}

.product-details p {
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 8px;
}

// .product-bottom-details div {
//     float: left;
//     width: 100%;
// }

.product-price {
    font-size: 18px;
    color: #999;
    font-weight: 600;
}

.product-price ul {
  margin-bottom: 0px;
  width: 100%;
}


// .product-links {
//     text-align: right;
// }

// .product-links a {
//     display: inline-block;
//     margin-left: 5px;
//     color: #e1e1e1;
//     transition: 0.3s;
//     font-size: 18px;
// }


// .product-links a:hover {
//     color: #00D1AF;
// }
